.ant-carousel .slick-next {
  right: -5px;
  top: 47%;
}

.ant-carousel .slick-prev {
  left: -5px;
  top: 47%;
}

.ant-carousel .slick-next,
.ant-carousel .slick-prev {
  z-index: 1;
  fill: #cbcbcb;
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  fill: #27aae1;
}

.ant-carousel .slick-dots-bottom {
  bottom: 2px;
}

.ant-carousel .slick-dots li button {
  background: #cbcbcb;
  height: 7px;
  opacity: 1;
  border-radius: 50%;
}

.ant-carousel .slick-dots li.slick-active button {
  background: transparent;
}

.ant-carousel .slick-dots li.slick-active {
  width: 7px;
  background: #27aae1;
}

.ant-carousel .slick-dots li {
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.ant-rate-star-first,
.ant-rate-star-second {
  color: #cbcbcb;
}
